<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: black;
        }

        .upper-text {
            color: white;
            position: fixed;
            left: 500px;
            top: 400px;
            font-family: 'Courier New', Courier, monospace;
        }

        .lower-text {
            color: white;
            position: fixed;
            left: 770px;
            top: 450px;
            font-family: 'Courier New', Courier, monospace;
        }
    </style>
</head>
<body>
    <h2 class="upper-text">You Lose. You are now banned and all your information has been taken.</h2>
    <h2 class="lower-text">Now you will pay up as agreed.</h2>
</body>
</html>