<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Russian Roulette - Home</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1 class="flash-text">Welcome to Russian Roulette. Here, you play with your life in gain for money</h1>
    <h4 class="flash-text">Enter for a chance to win a life changing monetary gain, but be warned... you could lose your life</h4>
    <a href="/pregamestart" class="flash-text">Enter</a>
</body>
</html>