<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Russian Roulette - Pre-Game Screen</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>This is the Pre-Game Menu. You can still leave.</h1>
    <h3>Prepare Yourself</h3>
    <h3>WARNING! PRESSING THE BUTTON INSTANTLY STARTS THE ROUND.</h3>
    <h3>YOU MAY EITHER SURVIVE THE ROUND OR INSTANTLY LOSE! DO NOT PRESS IF NOT WILLING TO RISK IT ALL!</h3>
    <form action="/gametime" method="GET">
        <button type="submit" class="flash-text">Begin</button>
    </form>
</body>
</html>